.recipeCard-Container {
  display: inline-block;
  -webkit-perspective: 80rem;
          perspective: 80rem;
  margin: 1rem 1.2rem 0 0;
}

.recipeCard {
  width: 25rem;
  height: 35rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.recipeCard__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.recipeCard__navbar__label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.recipeCard__navbar__label.-edit {
  font-weight: inherit;
  height: 100%;
  min-width: 0;
  padding: 0;
  border: none;
}

.recipeCard__navbar__icon {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.recipeCard__navbar__button {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin-left: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.recipeCard__navbar__button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.recipeCard__front, .recipeCard__back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
          box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.recipeCard__front .recipeCard__navbar {
  background-color: #2980b9;
}

.recipeCard__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.recipeCard__back .recipeCard__navbar {
  background-color: #27ae60;
}

.recipeCard__content {
  height: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  overflow-y: auto;
  padding: 0.5rem;
}

.recipeCard__deleteOverlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.4rem;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
  visibility: hidden;
}

.recipeCard__deleteOverlay.--editable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
}

.recipeCard__deleteOverlay__delbutton {
  cursor: pointer;
  background: #c0392b;
  border-radius: 20%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipeCard__deleteOverlay__delbutton:hover {
  background: #df4e3d;
}

.recipeCard.-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.recipeCard__foodList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipeCard__foodList__foodItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  overflow-x: hidden;
}

.recipeCard__foodList__foodItem .name,
.recipeCard__foodList__foodItem img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.recipeCard__foodList__foodItem .name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.recipeCard__foodList__foodItem img {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.recipeCard__foodList__foodItem .weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
}

.recipeCard__foodList__foodItem .weight input[type="number"],
.recipeCard__foodList__foodItem .weight select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  height: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.3rem;
}

.recipeCard__foodList__foodItem .weight input[type="number"] {
  background: #fbc531;
  width: 3.5rem;
  padding: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.recipeCard__foodList__foodItem .weight input[type="number"]::-webkit-outer-spin-button, .recipeCard__foodList__foodItem .weight input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.recipeCard__foodList__foodItem .weight select {
  background: #e1b12c;
  padding: 0 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.recipeCard__foodList__foodItem .delete-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c0392b;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipeCard__foodList__foodItem .delete-food.hide {
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  visibility: hidden;
}

.recipeCard__foodList__foodItem + .recipeCard__foodList__foodItem {
  margin-top: 0.5rem;
}

.macroRatio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.5rem;
}

.macroRatio__f {
  background-color: #f1c40f;
}

.macroRatio__c {
  background-color: #3498db;
}

.macroRatio__p {
  background-color: #e74c3c;
}

.no-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.no-data span {
  position: relative;
  bottom: 2em;
}

.error {
  background-color: #cf433e;
}

@media only screen and (max-width: 425px) {
  .recipeCard-Container {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
  }
  .recipeCard {
    width: 100%;
  }
}
/*# sourceMappingURL=RecipeCard.css.map */