.RecipeCard-Container {
  display: inline-block;
  background-color: transparent;
  perspective: 80rem;
  scroll-snap-align: center;
}

.RecipeCard-Container {
  margin-right: 2rem;
}

.RecipeCard-Container:first-child {
  scroll-margin-left: 50rem;
}

.RecipeCard-Container:last-child {
  scroll-margin-right: 50rem;
  margin-right: 0;
}

.RecipeCard {
  width: 20rem;
  height: 30rem;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.RecipeCard.flipped {
  transform: rotateY(180deg);
}

.RecipeCard .front,
.RecipeCard .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.RecipeCard .back {
  transform: rotateY(180deg);
}

/* This is the content of the card (front and back) */
.RecipeCard .content {
  height: 100%;
  overflow-y: scroll;
  padding: 0.5rem;
}

.RecipeCard .content::-webkit-scrollbar {
  display: none;
}

.front .RecipeCard__navbar {
  background-color: #2980b9;
}

.back .RecipeCard__navbar {
  background-color: #27ae60;

}

.RecipeCard__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.RecipeCard__navbar .label {
  flex-grow: 1;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

.RecipeCard__navbar .label.edit {
  font-weight: inherit;
  height: 100%;
  min-width: 0;
  padding: 0;
  border: none;
}

.RecipeCard__navbar .icon {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.RecipeCard__navbar .button {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin-left: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.RecipeCard__navbar .button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.RecipeCard__Search {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 100%;
  /* So many issues with backdrop-filter
  and cross browser support ... */
  /* backdrop-filter: blur(5px); */
  transition: 0.3s;
}

.RecipeCard__Search.hide {
  opacity: 0%;
  visibility: hidden;
}

.RecipeCard__Search .input-container {
  display: flex;
  margin: 1rem;
  margin-bottom: 0;
  height: 2.5rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.RecipeCard__Search .FoodSearch__input {
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0;
  margin: 0;
}

.RecipeCard__Search .FoodSearch__btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  background-color: #c0392b;
  border: none;
  cursor: pointer;
  margin: 0;
}

.RecipeCard__Search button:hover {
  background-color: #e74c3c;
}

.RecipeCard__Search .result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  overflow-y: scroll;
}

.RecipeCard__Search .result-container::-webkit-scrollbar {
  display: none;
}

.RecipeCard__Search .result {
  font-size: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.RecipeCard__Search .food {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}


.RecipeCard__Search .food img {
  height: 1rem;
  width: 1rem;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 0.5rem;
}

.attribution {
  background: #f1c40f;
  color: white;
  font-weight: bold;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
}

.no-result {
  background-color: #f39c12;
}

.RecipeCard__Search .food span {
  flex-grow: 1;
}

.RecipeCard__Search .food .add {
  /* background-color: red; */
  color: #27ae60;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
}

.RecipeCard__FoodList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.RecipeCard__FoodList .Food {
  display: flex;
  align-items: center;
  height: 2rem;
}

.RecipeCard__FoodList .Food + .Food {
  margin-top: 0.5rem;
}

.Food .name,
.Food img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.Food .name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.Food img {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  object-fit: cover;
  object-position: 50% 50%;
}

.Food .weight {
  display: flex;
  margin-right: 0.5rem;
}

.Food .weight select {
  cursor: pointer;
}

.Food input[type="number"],
.Food select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  height: 2rem;
  padding: 0;
  margin: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                               
  border: none;
  border-radius: 0.3rem;
}

.Food input[type="number"]::-webkit-outer-spin-button,
.Food input[type="number"]::-webkit-inner-spin-button,
.Food select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.Food input[type="number"] {
  background: #fbc531;
  width: 3.5rem;
  padding: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Food select {
  background: #e1b12c;
  padding: 0 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Food .delete-food {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c0392b;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.3s;
}

.Food .delete-food.hide {
  display: none
}

.MacroRatio{
  display: flex;
  justify-content: center;
}

.MacroRatio__f,
.MacroRatio__c,
.MacroRatio__p {
  height: 0.5rem;
  width: 3rem;
}

.MacroRatio__f {
  background-color: #f1c40f;
}
.MacroRatio__c {
  background-color: #3498db;
}
.MacroRatio__p {
  background-color: #e74c3c;
}

.no-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.no-data span {
  position: relative;
  bottom: 2em;
}



@media only screen and (max-width: 425px) {
  .RecipeCard {
    width: 90vw;
  }
}