.recipeCard-Container {
    display: inline-block;
    perspective: 80rem;
    margin: 1rem;
}

.recipeCard {
    width: 20rem;
    height: 30rem;
    transform-style: preserve-3d;
    transition: 0.6s;

    &__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;

        &__label {
            flex-grow: 1;
            font-size: 1.2rem;
            margin-left: 0.4rem;

            &.-edit {
                font-weight: inherit;
                height: 100%;
                min-width: 0;
                padding: 0;
                border: none;
            }
        }

        &__icon {
            height: 1.5rem;
            width: 1.5rem;
            min-height: 1.5rem;
            min-width: 1.5rem;
        }

        &__button {
            height: 1.5rem;
            width: 1.5rem;
            min-height: 1.5rem;
            min-width: 1.5rem;
            margin-left: 0.4rem;
            border-radius: 0.2rem;
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }
        }
    }

    &__front,
    &__back {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 0.4rem;
        box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
        overflow: hidden;
        backface-visibility: hidden;
    }

    &__front {
        .recipeCard__navbar {
            background-color: #2980b9;
        }
    }

    &__back {
        transform: rotateY(180deg);

        .recipeCard__navbar {
            background-color: #27ae60;
        }
    }

    &__content {
        height: 100%;
        overflow-y: scroll;
        padding: 0.5rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.-flipped {
        transform: rotateY(180deg);
    }
}


// SEARCH 
.recipeCard__foodSearch {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 100%;
    transition: 0.3s;

    &.-hide {
        opacity: 0%;
        visibility: hidden;
        transition: none;
    }

    &__input {
        display: flex;
        margin: 0.8rem;
        margin-bottom: 0;
        height: 2.5rem;
        min-height: 2.5rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 0.5rem rgb(180, 180, 180);
        overflow: hidden;
        z-index: 1;

        input {
            display: flex;
            flex-grow: 1;
            font-size: 1rem;
            padding-left: 1rem;
            border: none;
            margin: 0;
        }

        button {
            color: rgb(71, 71, 71);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            background-color: #fff;
            border: none;
            cursor: pointer;
            margin: 0;

            &:hover {
                color: #000;
            }
        }
    }

    &__results {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
        position: relative;
        top: -0.8rem;
        border-top: 1rem solid white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0 0 0.2rem rgb(180, 180, 180);
        overflow-y: overlay;

        &::-webkit-scrollbar {
            width: 0.6rem;
        }

        &::-webkit-scrollbar-track {
            border-radius: 0.4rem;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(187, 187, 187, 0.747);
            border-radius: 0.3rem;
            padding: 1rem;
        }

        .result {
            font-size: 1rem;
            width: 100%;
            padding: 0;
            padding-top: 0.3rem;
            margin: 0;
            background-color: #fff;
            list-style-type: none;

            &__food {
                display: flex;
                align-items: center;
                background-color: #fff;
                height: 2rem;
                border-bottom: 1px solid rgb(216, 216, 216);
                padding: 0.2rem 0.5rem;
                cursor: pointer;

                .type {
                    min-width: 0.3rem;
                    height: 90%;
                    background: rgb(200, 200, 200);
                    margin-right: 0.4rem;
                }

                .type.common {
                    background: #27ae60;
                }

                .type.branded {
                    background: #2980b9;
                }

                img {
                    height: 2rem;
                    width: 2rem;
                    object-fit: cover;
                    object-position: 50% 50%;
                    margin-right: 0.5rem;
                }

                span {
                    flex-grow: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    &__results.no-results {
        position: initial;
        border-top: none;
    }
}


.recipeCard__foodList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__foodItem {
        display: flex;
        align-items: center;
        height: 2rem;

        .name,
        img {
            user-select: none;
            -webkit-user-drag: none;
            -moz-user-drag: none;
        }

        .name {
            flex-grow: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0.5rem;
        }

        img {
            height: 2rem;
            width: 2rem;
            min-height: 2rem;
            min-width: 2rem;
            object-fit: cover;
            object-position: 50% 50%;
        }

        .weight {
            display: flex;
            margin-right: 0.5rem;

            input[type="number"],
            select {
                text-align: center;
                text-align-last: center;
                -moz-text-align-last: center;
                font-size: 1rem;
                font-weight: bold;
                color: #fff;
                height: 2rem;
                padding: 0;
                margin: 0;
                border: none;
                border-radius: 0.3rem;
            }

            input[type="number"] {
                background: #fbc531;
                width: 3.5rem;
                padding: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    appearance: none;
                }
            }

            select {
                background: #e1b12c;
                padding: 0 0.5rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                appearance: none;
                cursor: pointer;
            }
        }

        .delete-food {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #c0392b;
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
            min-height: 2rem;
            border-radius: 0.3rem;
            cursor: pointer;
            transition: 0.3s;

            &.hide {
                display: none
            }
        }

        &+& {
            margin-top: 0.5rem;
        }
    }
}

.macroRatio {
    display: flex;
    justify-content: center;

    &__f,
    &__c,
    &__p {
        height: 0.5rem;
    }

    &__f {
        background-color: #f1c40f;
    }

    &__c {
        background-color: #3498db;
    }

    &__p {
        background-color: #e74c3c;
    }
}



.no-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.no-data span {
    position: relative;
    bottom: 2em;
}

.attribution {
    // background: #f1c40f;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    background-color: #f1c40f;
}

.error {
    background-color: #cf433e;
}

@media only screen and (max-width: 425px) {
    .recipeCard {
        width: 90vw;
    }
}