.NutritionLabel {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.2em;
    /* margin: 0 0.5em; */
}

.NutritionLabel h1 {
    margin: 0;
    font-size: 2em;
}


.calories-dlabel {
    display: flex;
    margin-top: 0.2em;
}

.dpercent-label {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.8em;
    font-weight: bold;
}

.calories {
    font-size: 1.6em;
    font-weight: bold;
}

.nutrient {
    margin: 1px 0;
}

.breakdown {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.breakdown__values{
    display: flex;
    flex-direction: column;
}

/* float: right & text-align: right] on purpose */
.dpercent {
    font-size: 0.8rem;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;
    float: right;
}

.serving-size {
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
}
.serving-size .text{
    margin-left: 0.4em;
} 

.serving-size .value {
    background-color: #dddddd;
    text-align: center;
    line-height: 1.5rem;
    height: 1.5rem;
    width: 2rem;
    font-weight: bold;
}

.serving-size .valbtn-plus,
.serving-size .valbtn-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #d3d3d3;
    border: none;
    cursor: pointer;
}

.serving-size .valbtn-plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.serving-size .valbtn-minus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bling-toggle {
    float: right;
    background: #d3d3d3;
    margin: 0.2;
    padding: 0.3rem 0.6rem;
    user-select: none;
    cursor: pointer;
}

.bling-toggle .selected {
    font-weight: bold;
}

.NL_footnote {
    font-size: 0.8rem;
}

.NL_footnote span {
    font-weight: bold;
}

.HR {
    background-color: #000;
    height: 2px;
}

.HR--thin {
    height: 1px;
}

.HR--thick {
    height: 4px;
}

.HR.light {
    background-color: rgb(180, 180, 180);
}