.NutritionLabel {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 4px;
    margin: 0 0.5rem;
}

.NutritionLabel h1 {
    margin: 0;
    font-size: 2rem;
}


.calories-dlabel {
    display: flex;

}

.dpercent-label {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-weight: bold;
}

.calories {
    font-size: 1.6rem;
    font-weight: bold;
}

.nutrient-breakdown {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
}

.nutrient {
    display: flex;
}

.breakdown {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.dpercent {
    flex-grow: 1;
    text-align: right;
}

.bling-toggle {
    float: right;
    background: #bdc3c7;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
}

.NutritionLabel hr {
    background-color: #000;
    height: 2px;
    margin: 2px 0 0 0;
    border: none;
}

.NutritionLabel hr.thin {
    height: 1px;
}

.NutritionLabel hr.thick {
    height: 4px;
}

.NutritionLabel hr.light {
    background-color: rgb(180, 180, 180);
}