.NL__totalCarbs,
.NL__totalFats,
.NL__totalProtiens {
    transition: 0.3s;
}

.NL__totalCarbs:hover {
    color: #3498db;
    background-color: #cde3f1;
}

.NL__totalFats:hover {
    color: #dbb20f;
    background-color: #f5efda;
}

.NL__totalProtiens:hover {
    color: #e74c3c;
    background-color: #f7e0de;
}