* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

/* .section .content-container {
    padding: 1rem;
} */

.section__label {
    display: flex;
    align-items: center;
}

.section__label #name {
    margin: 0.6rem 0;
}

.section #divider {
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
}

.section-buttons {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-buttons__adder,
.section-buttons__edit {
    margin-left: 0.4rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    color: rgb(53, 53, 53);
    border-radius: 0.4rem;
    opacity: 0.35;
    transition: 0.2s;
}

.section-buttons__edit.--editable {
    background: #c0392b;
    opacity: 0.60;
}

.section-buttons__edit:hover,
.section-buttons__adder:hover {
    opacity: 0.80;
}

.btn-synched {
    color: white;
    font-weight: bold;
    height: 1.6rem;
    width: 6rem;
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
    background: #f1c40f;
    cursor: pointer;
}

.btn-synched:hover {
    background: #f39c12;
}

.btn-synched.--synched {
    background: #27ae60;
    cursor: initial;
}