* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section {
    padding: 0.5rem;
}

/* .section .content-container {
    padding: 1rem;
} */

.section__label {
    display: flex;
}

.section__label #name {
    flex-grow: 1;
}

.section #divider {
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
}

.item-adder {
    align-self: center;
    cursor: pointer;
    color: #000;
    opacity: 35%;
    border-radius: 50%;
    transition: 0.3s;
}

.item-adder:hover {
    opacity: 60%;
}