* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section {
    padding: 0.5rem;
}

/* .section .content-container {
    padding: 1rem;
} */

.section__label {
    display: flex;
    align-items: center;
}

.section__label #name {
    /* flex-grow: 1; */
}

.section #divider {
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
}

.item-adder-container {
    flex-grow: 1;
    text-align: end;
}

.item-adder {
    cursor: pointer;
    color: #000;
    opacity: 35%;
    border-radius: 50%;
    transition: 0.3s;
}

.item-adder:hover {
    opacity: 60%;
}

.btn-synched {
    color: white;
    font-weight: bold;
    height: 1.6rem;
    width: 6rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
    background: #f1c40f;
    cursor: pointer;
}

.btn-synched.--synched {
    background: #27ae60;
}